.root {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.button {
  background-image: url("../../assets/magnifyingGlass_bold.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
  display: block;
  height: 2rem;
  margin-left: 1rem;
  width: 2rem;
}

.active {
  background-image: url("../../assets/magnifyingGlass_bold.png");
}
