.bookShelfChanger {
  background: #9faec6;
  background-image: url("../../assets/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  border-radius: 50%;
  height: 1.5rem;
  margin-left: 1rem;
  width: 1.5rem;
}

.bookShelfChanger select {
  height: 100%;
  opacity: 0;
  width: 100%;
}
