.book {
  align-content: center;
  display: flex;
  flex-flow: column;
  margin-right: 2rem;
  margin-left: 2rem;
  width: 10rem;
}

.book-cover {
  align-self: center;
  height: 12rem;
  width: 8rem;
}

.book-title {
  font-weight: bold;
}

.book-author {
  font-style: italic;
}
