.book {
  align-content: center;
  display: flex;
  flex-flow: column;
  margin-right: 2rem;
  margin-left: 2rem;
  width: 10rem;
}

.bookCover {
  align-self: center;
  background-color: #8b9eba;
  height: 12rem;
  width: 8rem;
}

.bookTop {
  display: flex;
  flex-flow: row;
}

.bookTitle {
  font-weight: bold;
}

.bookAuthor {
  font-style: italic;
}
